@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

$font: "Montserrat", sans-serif;
$font-form: 'Work Sans', sans-serif;
$font-size: 16px;
$font-size-h1: 4.0em;
$font-size-h2: 2.0em;
$font-weight-monserat-light: 300;
$font-weight-monserat-bold: 700;
$color-white: #fff;
$color-lightblue: #5c7cc7;
$color-h2what-btnread: #4b479e;
$color-p-what: #5a5a5c;
$color-chevron-right: #52eac8;
$color-button-what-we-do: #6166ed;
$color-button-what-team: #302d64;
$coclor-address-green: #7dbd6e;
$hero-bg: url("../images/bg2.jpg");
$background-contact: url("../images/bg1.jpg");
$background-technology: #f0f0f0;