@import "_base";


@media (min-width: 380px) and (max-width: 767px) {

    header {
        font-size: 0.4em;
    }

    nav {

        .container-fluid {
            width: 100%;
            padding-top: 5rem;
            height: 50px;
        }

        .navbar-brand img {
            width: 120px;
            height: 40px;
        }

        .navbar-nav a {
            font-size: 0.8em;
            margin-right: 0;
            padding: 5px;
        }

        .navbar-toggle {
            background-color: transparent;
            border: none;
            margin-right: 0;
        }

        .icon-bar {
            background-color: #fff;
        }
    }

    .hero {
        padding-top: 10rem;

        h1 {
            font-size: 1.5em;
            line-height: 3rem;
        }

        p {
            font-size: 1em;
            padding-top: 0;
        }

        .btn {
            font-size: 0.7em;
            margin-top: 1rem;
            height: 3.5rem;
            padding: 1.0rem 1.0rem;

            &.btn-blue {
                width: 10rem;
                margin-right: 1.2rem;
            }

            &.btn-purple {
                width: 12rem;
            }
        }
    }

    .lotto {
        margin-top: 2rem;

        img {
            width: 50px;
            height: 50px;
            padding-bottom: 3rem;
        }
    }

    // SECTION WHAT
    .section__what {
        font-size: 0.6em;
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .we__image {
        padding: 0 25px;
    }

    .we__what h2 {
        font-size: 2em;
        padding-top: 1rem;
    }

    .we__what p {
        font-size: 1.2em;
        padding-top: 2rem;
    }

    // SECTION PRODUCT

    .departament {
        margin: 0;

        .product-1 {
            padding: 0 4rem;

            p {
                font-size: 1em;
            }
        }
    }

    // SECTION TECHNOLOGY

    // SECTION STACK

    .technology__left p,
    .stack__right p {
        line-height: 1.5;
    }

    // SECTION CONTACT
    .address {
        margin-top: 6rem;
        padding-left: 15px;

        & p {
            margin-bottom: 0;
            font-size: 0.8em;
        }

        li {
            width: 50px;
            height: 50px;
        }
    }

    .fab {
        padding-top: 1rem;
        margin-right: 0;
    }

    .form-block {

        h2 {
            font-size: 0.6em;
        }
    }

    .name-block,
    .phone-block {
        input {
            width: 100%;
            height: 40px;
            padding-top: 1.2rem;
        }

        &.names,
        .phone {
            margin-right: 1rem;
        }

    }

    textarea {
        width: 100%;
        height: 80px;
        margin-top: 2rem;
    }

    input::placeholder,
    textarea::placeholder {
        font-size: 0.8em;

    }

    input::placeholder:focus {
        line-height: 1.2;
    }

    .submit-btn {
        font-size: 0.4em;
        width: 180px;
        height: 50px;
    }

    .footer {
        margin-top: 9rem;
        padding-top: 5rem;
        margin-bottom: 2rem;
        font-size: 0.5em;

        & span {
            padding-left: 0;
        }
    }

    //end @media
}