@import "_base";


@media (min-width: 768px) and (max-width: 1279px) {

    .container {
        width: 100vw;
        margin: 0 auto;
    }

    // HEADER
    header {
        font-size: 0.6em;
    }

    nav .navbar-nav {
        padding-top: 5px;

        a {
            font-size: 1em;
            font-weight: 400;
            margin-right: 0;
            padding: 10px 10px;
        }
    }

    .navbar-brand img {
        width: 200px;
        height: 50px;
    }

    .hero {
        padding-top: 15rem;

        h1 {
            font-size: 2em;
            line-height: 4rem;
        }

        p {
            font-size: 1em;
            padding-top: 0;
        }

        .btn {
            margin-top: 1.5rem;
            height: 4rem;
            padding: 1.0rem 1.2rem;
            font-size: 1em;

            &.btn-blue {
                width: 14rem;
                margin-right: 1.4rem;
            }

            &.btn-purple {
                width: 18rem;
            }
        }
    }

    .lotto {
        margin-top: 3rem;

        img {
            width: 80px;
            height: 70px;
            padding-bottom: 3rem;
        }
    }

    //  SECTION WHAT
    .section__what {
        font-size: 0.8em;
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .we__what h2 {
        font-size: 2em;
        padding-top: 2rem;
    }

    .we__what p {
        font-size: 0.8em;
        padding-top: 2rem;
    }

    // SECTION PRODUCT
    .product-1 {
        height: 350px;

        img {
            width: 80px;
            height: 100px;
        }

        h3 {
            font-size: 1em;
            margin-top: 2rem;
        }

        p {
            font-size: 0.8em;
        }
    }

    // SECTION TECHNOLOGY

    .section__technology {
        margin-top: 6rem;
    }

    .tech-box,
    .stack-box {
        margin: 2rem 0;
    }

    .technology__left,
    .stack__right {
        h2 {
            font-size: 2em;
            margin: 0.4em 0;
        }

        p {
            font-size: 0.7em;
            line-height: 1.5;
            margin-bottom: 0;
        }
    }

    //SECTION CONTACT
    .address,
    .form-block {
        margin-top: 3rem
    }

    .address {
        margin-top: 10rem;
        padding-top: 5rem;
        font-size: 0.8em;
    }

    .address-media li {
        width: 35px;
        height: 35px;
    }

    .form-block {
        height: 380px;

        h2 {
            margin-bottom: 0;
            padding: 0;
            font-size: 0.6em;
        }

        input,
        textarea {
            font-size: 0.6em;
        }
    }

    .name-block,
    .phone-block {
        input {
            width: 100%;
            height: 35px;
            padding-top: 1rem;
        }

        &.names,
        .phone {
            margin-right: 1rem;
        }

    }

    textarea {
        width: 100%;
        min-height: 80px;
        margin-top: 2rem;
    }

    input::placeholder,
    textarea::placeholder {
        font-size: 0.7em;

    }

    input::placeholder:focus {
        line-height: 1.2;
    }

    .submit-btn {
        font-size: 0.8em;
        margin-top: 0;
        max-width: 180px;
        max-height: 50px;
    }

    .footer {
        margin-top: 10rem;
        padding-top: 5rem;
        margin-bottom: 5rem;
        font-size: 0.6em;

        & span {
            padding-left: 0;
        }
    }

    // end  @media
}